body{
  background: url(images/lake-192990_1280.jpg) center center fixed;
  background-size: cover;
  color:white;
  height: 400px;
}
#header{
  text-align: center;
  font-size: 5vw;
  color: blue;
}
#lap{
  text-align: right;
  font-size: 2vw;
  color: white;
}
#time{
  text-align: center;
  font-size: 10vw;
  color: white;
}
#controlsContainer{
  margin-bottom: 100px;
  

}
.control{
  color: white;
  background-color: #d7A640;
  border-radius: 100%;
  height: 6vw;
  width: 6vw;
  text-align: center;
padding: 20% 0;
font-size: 2.vw;
margin: auto;
cursor: pointer;
}
.control:active{
  background-color: white;
  color: orange;
}
#laps{
  max-height: 270px;
  overflow-y: scroll;
}
.lap{
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  margin: 15px;
  color: whitesmoke;
}
.laptimetitle{
  font-size: 1.5em;
  float: left;
  
}
.laptime{
  font-size: 2em;
  float: right;
}